Tests/cl/3.26/JmsAppenderForPayload/Service Descriptors/AsyncAppener.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/asyncAppender/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/asyncAppender/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/asyncAppender/">
			<xsd:element name="testAsyncAppender">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testAsyncAppenderResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="testAsyncAppenderRequest">
		<wsdl:part element="tns:testAsyncAppender" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="testAsyncAppenderResponse">
		<wsdl:part element="tns:testAsyncAppenderResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="asyncAppender">
		<wsdl:operation name="testAsyncAppender">
			<wsdl:input message="tns:testAsyncAppenderRequest"/>
			<wsdl:output message="tns:testAsyncAppenderResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="asyncAppenderSOAP" type="tns:asyncAppender">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="testAsyncAppender">
			<soap:operation soapAction="http://www.example.org/asyncAppender/testAsyncAppender"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="asyncAppender">
		<wsdl:port binding="tns:asyncAppenderSOAP" name="asyncAppenderSOAP">
			<soap:address location="http://localhost:5681/asyncAppender"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
