Tests/bat/5.11/webapp_hibernate_final/Service Descriptors/WeatherService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/WeatherService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/weatherschema" name="WeatherService" targetNamespace="http://www.example.org/WeatherService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/weatherschema">
			<xsd:include schemaLocation="weatherschema.xsd">
			</xsd:include>
		</xsd:schema>
    </wsdl:types>
	<wsdl:message name="GetWeatherRequest">
		<wsdl:part element="xsd1:WeatherRequest" name="GetWeatherRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetWeatherResponse">
		<wsdl:part element="xsd1:WeatherResponse" name="GetWeatherResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddWeatherRequest">
		<wsdl:part element="xsd1:AddWeatherRequest" name="AddWeatherRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddWeatherResponse">
		<wsdl:part name="AddWeatherResponse" element="xsd1:AddWeatherResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="WeatherReportPT">
		<wsdl:operation name="GetWeather">
			<wsdl:input message="tns:GetWeatherRequest"/>
			<wsdl:output message="tns:GetWeatherResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AddWeatherReportPT">
		<wsdl:operation name="AddWeather">
			<wsdl:input message="tns:AddWeatherRequest"/>
			<wsdl:output message="tns:AddWeatherResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="WeatherReportBinding" type="tns:WeatherReportPT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetWeather">
         <soap:operation soapAction="GetWeather"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
	<wsdl:binding name="AddWeatherReportBinding" type="tns:AddWeatherReportPT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AddWeather">
         <soap:operation soapAction="AddWeather"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
      
   <wsdl:service name="WeatherReport">
      <wsdl:port binding="tns:WeatherReportBinding" name="WeatherReportPort">
         <soap:address location="http://localhost:8080/foo/bar"/>
      </wsdl:port>
      <wsdl:port binding="tns:AddWeatherReportBinding" name="AddWeatherReportPort">
         <soap:address location="http://localhost:8080/my/foo/bar/"/>
      </wsdl:port>
   </wsdl:service>	
</wsdl:definitions>
