Tests/bat/6.4/BAT_64/Deployment Artifacts/Element_Simple_French.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tibco.com/matrix/qa/wsdl/echostring/OperationImpl/opeFrenchImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://tibco.com/matrix/qa/xsd/echostring" name="Untitled" targetNamespace="http://tibco.com/matrix/qa/wsdl/echostring/OperationImpl/opeFrenchImpl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tibco.com/matrix/qa/xsd/echostring" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="FaultString" type="xs:string"/>
            <xs:element name="InString" type="xs:string"/>
            <xs:element name="OutString" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="EchoStringFrench">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://rainkang:9015/Element_Simple/Server/EchoStringFrench"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="EchoStringPort">
        <wsdl:operation name="opeFrench">
            <wsdl:input message="tns:InFrench"/>
            <wsdl:output message="tns:OutFrench"/>
            <wsdl:fault name="fault3" message="tns:FaultFrench"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:EchoStringPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opeFrench">
            <soap:operation style="document" soapAction="/Server/EchoString"/>
            <wsdl:input>
                <soap:body use="literal" parts="InPart2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="OutPart2"/>
            </wsdl:output>
            <wsdl:fault name="fault3">
                <soap:fault use="literal" name="fault3"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InFrench">
        <wsdl:part name="InPart2" element="ns0:InString"/>
    </wsdl:message>
    <wsdl:message name="OutFrench">
        <wsdl:part name="OutPart2" element="ns0:OutString"/>
    </wsdl:message>
    <wsdl:message name="FaultFrench">
        <wsdl:part name="part2" element="ns0:FaultString"/>
    </wsdl:message>
</wsdl:definitions>