Tests/deployments/1.14/AMXTestCase1.14/Service Descriptors/AMXService4_gen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://www.example.org/AMXService4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AMXService4_gen" targetNamespace="http://www.example.org/AMXService4/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AMXService4/" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="NewOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="in" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="out" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="NewOperationRequest">
        <wsdl:part name="parameters" element="tns:NewOperation"/>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
        <wsdl:part name="parameters" element="tns:NewOperationResponse"/>
    </wsdl:message>
    <wsdl:portType name="AMXService4">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewOperationRequest"/>
            <wsdl:output message="tns:NewOperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AMXServiceBinding" type="tns:AMXService4">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewOperation">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="NewOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AMXService4_gen">
        <wsdl:port name="AMXServiceBinding" binding="tns:AMXServiceBinding">
            <soap:address location="http://localhost:9090/aMXService4/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>