Tests/bat/7.3/BAT73/Service Descriptors/CalculatorProxy2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NS_CalculatorProxyContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NS_CalculatorProxyContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ToHardFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstNumber" type="xs:int" />
      <xs:element minOccurs="0" name="secondNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToHardFault" nillable="true" type="tns:ToHardFault" />
</xs:schema>