Tests/bat/6.2/BAT62/Service Descriptors/Company.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/Company/sendCompanyMsgImpl/Services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.tibco.com/schemas" name="Untitled" targetNamespace="http://xmlns.example.com/Company/sendCompanyMsgImpl/Services">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tibco.com/schemas" targetNamespace="http://www.tibco.com/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="CompanyInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="City" type="xs:string"/>
                        <xs:element name="Zip" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="Company">
        <wsdl:operation name="sendCompanyMsg">
            <wsdl:input message="tns:CompanyInfo"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="CompanyInfo">
        <wsdl:part name="companyinfo" element="ns0:CompanyInfo"/>
    </wsdl:message>
</wsdl:definitions>