Tests/bat/6.6/SOA/mediation.helloworld.xmlparserender.soa/Service Descriptors/HelloWorld_XmlPayload/EmployeeName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://com.tibco.amx.it.mediation.sample/EmployeeName"
	xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified">

    	<complexType name="EmployeeName">
    		<sequence>
     			<element name="FirstName" type="string"></element>
     			<element name="MiddleName" type="string"></element>
    			<element name="LastName" type="string"></element>
    		</sequence>
    	</complexType>
</schema>
