Tests/bat/9.1/SOA/BAT91/Service Descriptors/GreetWsdlWsdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--XML Schema generated by QTAssistant (http://www.paschidev.com)-->
<xsd:schema xmlns="http://www.example.org/GreetWsdl/" targetNamespace="http://www.example.org/GreetWsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GreetDELETE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="in" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetDELETEResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="out" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetGET">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="in" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetGETResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="out" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetPOST">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="in" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetPOSTResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="out" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetPUT">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="in" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GreetPUTResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="out" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>