Tests/cl/3.30/SoaProject/Service Descriptors/logMessage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/logMessage/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="logMessage"
	targetNamespace="http://www.example.org/logMessage/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/logMessage/">
			<xsd:element name="logStringMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageSize" type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="logStringMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="logMapMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageSize" type="xsd:integer"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="logMapMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="logStringMessageRequest">
		<wsdl:part element="tns:logStringMessage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="logStringMessageResponse">
		<wsdl:part element="tns:logStringMessageResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="logMapMessageRequest">
		<wsdl:part name="parameters" element="tns:logMapMessage"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="logMapMessageResponse">
		<wsdl:part name="parameters" element="tns:logMapMessageResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="logMessage">
		<wsdl:operation name="logStringMessage">
			<wsdl:input message="tns:logStringMessageRequest" />
			<wsdl:output message="tns:logStringMessageResponse" />
		</wsdl:operation>
		<wsdl:operation name="logMapMessage">
			<wsdl:input message="tns:logMapMessageRequest"></wsdl:input>
			<wsdl:output message="tns:logMapMessageResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
