Tests/bat/5.7.orig/https_5.7/Service Descriptors/HelloWorld_BW_EP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.com/HelloWorld1/sayHelloWorld1Impl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://ns.tibco.com/Hello1/" name="Untitled" targetNamespace="http://www.example.com/HelloWorld1/sayHelloWorld1Impl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ns.tibco.com/Hello1/" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="HelloWorldRequest" type="xs:string"/>
            <xs:element name="HelloWorldResponse" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service__5.7">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="https://localhost:6767/5.7/Service/Service_5.7"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="HelloWorld1PT">
        <wsdl:operation name="sayHelloWorld">
            <wsdl:input message="tns:OperationWorldRequest"/>
            <wsdl:output message="tns:OperationWorldResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:HelloWorld1PT">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHelloWorld">
            <soap:operation style="rpc" soapAction="/5.7/Service/Service_5.7"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://InputMessageNamespace" parts="name"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://OutputMessageNamespace" parts="greeting"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="OperationWorldRequest">
        <wsdl:part name="name" element="ns0:HelloWorldRequest"/>
    </wsdl:message>
    <wsdl:message name="OperationWorldResponse">
        <wsdl:part name="greeting" element="ns0:HelloWorldResponse"/>
    </wsdl:message>
</wsdl:definitions>