Tests/bat/5.22/SOA/V2/appupgrade522/Service Descriptors/HelloWorld1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://ns.tibco.com/Hello/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ns.tibco.com/Hello/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ns.tibco.com/Hello/" xmlns:p="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.tibco.com/Hello/">
            <xs:element name="HelloRequest" type="xs:string"/>
            <xs:element name="HelloResponse" type="xs:string"/>
            <xs:element name="in" type="xs:string"></xs:element>
            <xs:element name="out" type="xs:string"></xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="OperationRequest">
        <wsdl:part element="ns0:HelloRequest" name="firstName"/>
        <wsdl:part name="lastName" element="tns:HelloRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="OperationResponse">
        <wsdl:part element="ns0:HelloResponse" name="greeting"/>
    </wsdl:message>
    <wsdl:message name="NewOperationRequest">
    	<wsdl:part name="NewOperationRequest" element="tns:in"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
    	<wsdl:part name="NewOperationResponse" element="tns:out"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorldPT">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:OperationRequest"/>
            <wsdl:output message="tns:OperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
