Tests/deployments/1.2/AMXTestCase1.2/Service Descriptors/AMXTestCase1.1WSDL.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="urn:amx:DevEnvironment/AMXTestCase1.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.example.org/AMXTestCase1.1WSDL/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="JavaComponent_1.0.0.201109161122_service_AMXService1.1_AMXTestCase11WSDL" targetNamespace="urn:amx:DevEnvironment/AMXTestCase1.1">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AMXTestCase1.1WSDL/" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="NewOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="in" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="out" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="NewOperationRequest">
        <wsdl:part name="parameters" element="ns0:NewOperation"/>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
        <wsdl:part name="parameters" element="ns0:NewOperationResponse"/>
    </wsdl:message>
    <wsdl:portType name="AMXTestCase1.1WSDL">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewOperationRequest"/>
            <wsdl:output message="tns:NewOperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AMXServiceBinding1.1" type="tns:AMXTestCase1.1WSDL">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewOperation">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="NewOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JavaComponent_1.0.0.201109161122_service_AMXService1.1_AMXTestCase11WSDL">
        <wsdl:port name="AMXServiceBinding1.1" binding="tns:AMXServiceBinding1.1">
            <soap:address location="http://0.0.0.0:9090/aMXTestCase1.1WSDL/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>