Tests/downloadDAA-TAP-12760/hf_330_5.12.17/ServiceContract/BS_Proj/dotnet35/ServiceContract/Service Descriptors/ServiceContract3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://qa.tibco.com/" elementFormDefault="qualified" targetNamespace="http://qa.tibco.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg1" type="xs:int" />
        <xs:element minOccurs="0" name="arg2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>