Tests/downloadDAA-TAP-12760/hf_330_5.12.17/ServiceContract/BS_Proj/dotnet35/ServiceContract/Service Descriptors/ServiceContract1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://qa.tibco.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://qa.tibco.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://qa.tibco.com/Imports">
      <xsd:import schemaLocation="ServiceContract1.xsd" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="ServiceContract2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="ServiceContract3.xsd" namespace="http://qa.tibco.com/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyCalculator_Add_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:Add" />
  </wsdl:message>
  <wsdl:message name="IMyCalculator_Add_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMyCalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IMyCalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyCalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleCalculator/Add" message="tns:IMyCalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleCalculator/AddResponse" message="tns:IMyCalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://qa.tibco.com/IMyCalculator/Multiply" message="tns:IMyCalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://qa.tibco.com/IMyCalculator/MultiplyResponse" message="tns:IMyCalculator_Multiply_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>