Tests/bat/6.10/SOA6.10/Service Descriptors/Employee_gen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://tibco.com/matrix/qa/wsdl/group_gen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tibco.com/matrix/qa/xsd/group" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EmployeePortType" targetNamespace="http://tibco.com/matrix/qa/wsdl/group_gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tibco.com/matrix/qa/xsd/group" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Employee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="HiringDate" type="xs:date"/>
                        <xs:element name="Id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EmployeeFault" type="xs:string"/>
            <xs:element name="EmployeeId" type="xs:int"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetEmployeeInput">
        <wsdl:part name="InPart" element="ns0:EmployeeId"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeOutput">
        <wsdl:part name="OutPart" element="ns0:Employee"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeFault">
        <wsdl:part name="fault" element="ns0:EmployeeFault"/>
    </wsdl:message>
    <wsdl:portType name="EmployeePortType">
        <wsdl:operation name="GetEmployeeById">
            <wsdl:input message="tns:GetEmployeeInput"/>
            <wsdl:output message="tns:GetEmployeeOutput"/>
            <wsdl:fault name="fault" message="tns:GetEmployeeFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Binding_HTTP1" type="tns:EmployeePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetEmployeeById">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="GetEmployeeById"/>
            <wsdl:input>
                <soap:body use="literal" parts="InPart"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="OutPart"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeePortType">
        <wsdl:port name="Binding_HTTP1" binding="tns:Binding_HTTP1">
            <soap:address location="http://localhost:80/bat6_10/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>